<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
        <% @users.each do |user| %>
        <%= link_to user do %>
        <li class="list-group-item">
            <p> <%= user.first_name %> <%= user.last_name %> </p>
            <p> <%= user.email %></p>
        </li>
        <% end %>
        <% end %>
    </div>
</div>