<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
        <% @products.each do |product| %>
        <%= link_to product do %>
        <li class="list-group-item">
            <p> <%= product.price %></p>
            <p> <%= product.title %></p>
            <p> <%= product.description %></p>
        </li>
        <% end %>
        <% end %>
    </div>
</div>